<launch>

  <include file="$(find apollo2ros)/launch/advanced_param.xml">
    
  </include>

  <node pkg="apollo2ros" type="tf_marker" name="tf_marker" output="screen">

  </node>

  <node pkg="apollo2ros" type="gridmap" name="gridmap" output="screen">

  </node>

  <node pkg="apollo2ros" type="kino_marker" name="kino_marker" output="screen">

  </node>

  <node pkg="apollo2ros" type="minco_marker" name="minco_marker" output="screen">

  </node>
  
</launch>