<!-- -->
<launch>
  <!-- global parameter to set CARLA as time source -->
  <param name="use_sim_time" value="True"/>
  <arg name="auto_control" default="True" />

  <!-- the network connection for the python connection to CARLA -->
  <arg name='host' default='localhost'/>
  <arg name='port' default='2000'/>
  <arg name='timeout' default='200'/>
  <!-- 
    enable/disable synchronous mode. If enabled ros-bridge waits until
    expected data is received for all sensors
  -->
  <arg name="passive" default='False'/>
  <arg name='synchronous_mode' default='True'/>
  <arg name='synchronous_mode_wait_for_vehicle_control_command' default='False'/>
  <!-- set the fixed timestep length -->
  <arg name='fixed_delta_seconds' default='0.01'/>

  <arg name="spawn_point" default=""/>
  <arg name='town' default='Town01_HZC'/>
<!-- <arg name='town' default='UADistrict_01_P'/> -->
  <!-- <arg name='town' default='Carla/Maps/Town10HD_Opt'/> -->
  <!-- enable/disable the registration of all sensors. If disabled, only sensors
  spawned by the bridge are registered -->
  <arg name='register_all_sensors' default='False'/>
  <!-- 
    the role name of the vehicles that acts as ego vehicle for this ros bridge instance
    Only the vehicles within this list are controllable from within ROS.
    (the vehicle from CARLA is selected which has the attribute 'role_name' set to this value)
  -->
  <arg name='ego_vehicle_role_name' default='["hero", "ego_vehicle", "agent_0", "agent_1", "agent_2", "agent_3", "agent_4", "agent_5", "agent_6", "agent_7", "agent_8", "agent_9"]'/>
  <!-- <arg name='ego_vehicle_role_name' default='["agent_0", "agent_1", "agent_2", "agent_3", "agent_4"]'/> -->

  <node pkg="carla_ros_bridge" name="carla_ros_bridge" type="bridge.py" output="screen" required="true">
    <param name="host" value="$(arg host)" unless="$(eval host == '')"/>
    <param name="port" value="$(arg port)" unless="$(eval port == '')"/>
    <param name="timeout" value="$(arg timeout)" unless="$(eval timeout == '')"/>
    <param name="passive" value="$(arg passive)"/>
    <param name="synchronous_mode" value="$(arg synchronous_mode)"/>
    <param name="synchronous_mode_wait_for_vehicle_control_command" value="$(arg synchronous_mode_wait_for_vehicle_control_command)"/>
    <param name="fixed_delta_seconds" value="$(arg fixed_delta_seconds)"/>
    <param name="register_all_sensors" value="$(arg register_all_sensors)"/>
    <param name="town" value="$(arg town)"/>
    <param name="ego_vehicle_role_name" value="$(arg ego_vehicle_role_name)"/>
    <rosparam param="spectator_pose">[293.75, -94.0, 54, 0, 89.0, 180.0]</rosparam>
  </node>

  <!-- <node pkg="carla_ros_bridge" name="carla_map_visualization" type="carla_map_visualization.py" output="screen" required="true" /> -->

  <include file="$(find carla_spawn_objects)/launch/carla_spawn_objects.launch" >
    <arg name="objects_definition_file" value='$(find carla_spawn_objects)/config/car_swarm.json'/>
    <arg name="spawn_point_ego_vehicle" value="$(arg spawn_point)"/>
  </include>

  <include file="$(find carla_manual_control)/launch/carla_manual_control.launch" unless="$(arg auto_control)"/>

    <include file="$(find carla_ackermann_control)/launch/carla_ackermann_control.launch" >
      <arg name= "role_name" value="agent_0" />
    </include>

    <include file="$(find carla_ackermann_control)/launch/carla_ackermann_control.launch" >
      <arg name= "role_name" value="agent_1" />
    </include>

    <include file="$(find carla_ackermann_control)/launch/carla_ackermann_control.launch" >
      <arg name= "role_name" value="agent_2" />
    </include>

    <include file="$(find carla_ackermann_control)/launch/carla_ackermann_control.launch" >
      <arg name= "role_name" value="agent_3" />
    </include>

    <include file="$(find carla_ackermann_control)/launch/carla_ackermann_control.launch" >
      <arg name= "role_name" value="agent_4" />
    </include>

</launch>
